<div id="chart-container" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
  <h2 id="chart-title">
    Generated chart
  </h2>
  <div id="chart">
    <i>Please fill in the form to see your chart.</i>
  </div>
</div>
