<div id="form-container" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <h2 id="form-title">
    Insert chart test info
  </h2>
  <form id="chart-form">
    <div class="form-group">
      <label for="name-input">
        Enter your name
      </label>
      <input type="text" class="form-control" id="name-input" name="name-input" placeholder="Enter your name">

      <br/>

      <label for="age-input">
        Enter your age
      </label>
      <input type="number" class="form-control" id="age-input" name="age-input" placeholder="Enter your age">

      <br/>

      <label for="tv-input">
        How many hours a day do you spend watching TV?
      </label>
      <input type="number" class="form-control" id="tv-input" name="tv-input" placeholder="Enter your TV hours">

      <br/>

      <label for="internet-input">
        How many hours a day do you spend using internet?
      </label>
      <input type="number" class="form-control" id="internet-input" name="internet-input" placeholder="Enter your internet hours">

      <br/>

      <label for="phone-input">
        How many hours a day do you spend using your smartphone?
      </label>
      <input type="number" class="form-control" id="phone-input" name="phone-input" placeholder="Enter your phone hours">

      <br/>

      <label for="sport-input">
        How many hours a day do you spend doing sports?
      </label>
      <input type="number" class="form-control" id="sport-input" name="sport-input" placeholder="Enter your sport hours">

      <br/>

      <a id="generate-button" class="btn btn-primary">Generate chart</a>

    </div>
  </form>
</div>
