<nav id="showcase-navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Improve CoffeeScript Skills</a>
    </div>
  </div>
</nav>
<div id="main-container" class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
      <h1 id="example-title">
        Functionality Example
      </h1>
      <%= render 'showcase/form' %>
      <%= render 'showcase/chart' %>
    </div>
  </div>
</div>
